# chess_model.pt
*.pt
__pycache__
data/data-10m.pgn
maia/
TODO
great.pgn
backupmodels/
game.pgn
stockfish/
tournament/
data/*
bak/
moe_benchmark_pretrain.py 
moe_model.py
server-pretrain.py 
old.pt 
models_game.pgn
.gitignore
download*
data.py
mvm.py
play.py
tournament.py
transformer*
archived
games
.vscode
