# Ignore Python bytecode
__pycache__/

# Ignore all .pt files recursively
**/*.pt

# Ignore PGN data
data/
*.pgn

# Ignore directories
backupmodels/
maia/
stockfish/
tournament/

# Misc
TODO
archived
.vscode/
.ds_store

*.py
!pretrain.py
!model.py
!utils/pgn_dataset.py
!tests.py